
.auth-form {
    display: flex;
    flex-direction: column;
}


.auth-form-text-field {
    width: 240px;
    height: 32px;
    margin: 4px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 4px;
}

.auth-form-button {
    width: 160px;
    height: 32px;
    padding: 4px;
    margin: 4px;
    border: 2px solid black;
    border-radius: 4px;
}
